{% extends 'Agent/agent-dashboard.html' %}
{% block dashboard %}
{% load static %}
<div class="card-body pb-0">
  <h5 class="card-title">Product in Store</h5>
  <h6>
    <table class="table table datatable">
      <thead>
        <tr>
          <th scope="col">Preview</th>
          <th scope="col">Product</th>
          <th scope="col">Amount in Store</th>

        </tr>
      </thead>
      <tbody>

        <tr>
          {% for img,name,val in data1 %}
          <th scope="row"><a href="#"><img src="{{img.url}}" alt=""></a></th>
          <td><a href="#" class="text-primary fw-bold">{{name}}</a></td>
          <td>{{val}} Create</td>
        </tr>
        {% endfor %}
        <tr>

        <tr>
          <td><img width="90" src="{% static 'assets/img/crates.jpg' %}" alt=""></td>
          <td>Total Product in Store</td>
          <td>{{Total}} Creates</td>
        </tr>

      </tbody>
    </table>
  </h6>
</div>
{% endblock dashboard %}